@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark input {
    color: black;
    box-shadow: 0 8px 10px -3px rgba(255, 255, 255, 0.9), 0 4px 6px -4px rgba(255, 255, 255, 06);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Light Theme */
.light {
    --bg-color: white;
    --text-color: black;
}

/* Dark Theme */
.dark {
    --bg-color: #1a1a1a;
    --text-color: white;
}


/* Toggle switch styles */
label {
    cursor: pointer;
}

/* Sun and Moon Icon transitions */
.sun {
    transform: translateX(1.5rem);
}

.moon {
    transform: translateX(-1.5rem);
}

img {
    transition: opacity 0.3s ease-in-out;
}

.relative {
    position: relative;
}

.w-14.h-8 {
    background-color: #e5e7eb;
    border-radius: 9999px;
}

span {
    transition: transform 0.3s ease-in-out;
}